{
    "graphite_host": "{{lc_graphite_host}}",
    "graphite_port": {{lc_graphite_port}},
    "graphite_prefix": "{{lc_graphite_prefix}}",
    "check_count": 5,
    "timeout": 1,
    "to_check": [
        {"http": "http://google.com"}
    ]
}
