# Instructions for use on a SystemD-based linux distribution:
# 1. Modify this (if needed) and copy it to /etc/systemd/system/
# 2. Execute `systemctl daemon-reload`
# 3. Execute `systemctl enable latency_check.service`
# 4. Execute `systemctl start  latency_check.service`
# 5. Execute `systemctl status latency_check.service`
# 6. Do the same for latency_check.timer if you want it to run periodically.

[Unit]
Description=Latency Checker
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python2 /opt/latency_check/latency_check.py /opt/latency_check/latency_check.json

[Install]
WantedBy=network-online.target
